* {
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
}

span {
  color: #f9004d;
}

/* HERO */
.hero {
  height: 100vh;
  width: 100%;
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-position: top center;
}

.hero nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
  padding-left: 8%;
  padding-right: 8%;
}

.hero .logo {
  color: #fff;
  font-size: 35px;
  letter-spacing: 1px;
  cursor: pointer;
}

.hero nav li {
  list-style: none;
  display: inline-block;
  padding: 10px 25px;
}

.hero nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
}

.hero nav a:hover {
  color: #f9004d;
  transition: 0.4s;
}

.hero .btn {
  background-color: #f9004d;
  color: #fff;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: transform 0.4s;
}

.hero .btn:hover {
  color: #fff;
  transform: scale(1.2);
}

.content {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
}

.content h2 {
  color: #fff;
  margin: 20px 0 20px;
  font-size: 75px;
}

.content h3 {
  color: #fff;
  font-size: 25px;
  margin-bottom: 50px;
}

.content h4 {
  color: #fcfc;
  letter-spacing: 2px;
  font-size: 20px;
}

.newsletter form {
  width: 380px;
  max-width: 100%;
  position: relative;
}

.newsletter input:first-child {
  display: inline-block;
  width: 100%;
  padding: 14px 130px 14px 15px;
  border: 2px solid #f9004d;
  outline: none;
  border-radius: 30px;
}

.newsletter input:last-child {
  position: absolute;
  display: inline-block;
  outline: none;
  border: none;
  padding: 10px 30px;
  border-radius: 30px;
  background: #f9004d;
  color: #fff;
  box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
  top: 6px;
  right: 6px;
}

/* ABOUT */
.about {
  width: 100%;
  padding: 100px 0px;
  background-color: #191919;
}

.about img {
  width: 430px;
  height: auto;
}

.about-text {
  width: 550px;
}

.main {
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.about-text h2 {
  color: #fff;
  font-size: 75px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.about-text h5 {
  color: #fff;
  letter-spacing: 2px;
  font-size: 22px;
  margin-bottom: 25px;
  text-transform: capitalize;
}

.about-text p {
  color: #fcfc;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}

.about-text button {
  background-color: #f9004d;
  color: #fff;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: 0.4s;
}

.about-text button:hover {
  background-color: transparent;
  border: 2px solid #f9004d;
  cursor: pointer;
}

/* SERVICE */
.service {
  background-color: #101010;
  width: 100%;
  padding: 100px 0px;
}

.title h2 {
  color: #fff;
  font-size: 75px;
  width: 1130px;
  margin: 30px auto;
  text-align: center;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex: 1fr;
}

.card {
  height: auto;
  width: 335px;
  padding: 20px 35px;
  background-color: #191919;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.card i {
  font-size: 50px;
  display: block;
  text-align: center;
  margin: 25px 0px;
  color: #f9004d;
}

.card h5 {
  color: #fff;
  font-size: 23px;
  margin-bottom: 15px;
}

.card .pra p {
  color: #fcfc;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 25px;
}

.card .button,
.contact-me .button-two {
  background-color: #f9004d;
  color: #fff;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: 0.4s;
}

.card .button:hover,
.contact-me .button-two:hover {
  background-color: transparent;
  border: 2px solid #f9004d;
  cursor: pointer;
}

/* CONTACT ME */
.contact-me {
  width: 100%;
  height: 290px;
  background-color: #191919;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.contact-me p {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 25px;
}